singularity.enabled = true

process {
    errorStrategy = 'retry'
    maxRetries = 3

    // Process-specific containeers
    withName: 'FASTQC' {
        container = 'oras://community.wave.seqera.io/library/fastqc:0.12.1--0827550dd72a3745'
    }
    withName: 'MULTIQC' {
        container = 'oras://community.wave.seqera.io/library/multiqc:1.22.1--ac0a91c1ae1c160c'
    }
    withName: 'INDEX|QUANTIFICATION' {
        container = 'oras://community.wave.seqera.io/library/salmon:1.10.3--8673e884de0833af'
    }

    // Process-label specific specs
    withLabel: 'process_long' {
        time = 10.min
        cpus =  { 4 * task.attempt }
    }
    withLabel: 'process_short' {
        time = 1.min
    }
}

profiles {
    // A profile with the the name 'standard' is the implicit default profile 
    standard {
        process.executor = 'local'
        process.cpus = 1
        process.memory = 1.GB
        process.resourceLimits = [ cpus: 1, memory: 1.GB, time: 1.h ]
    }

    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS0471'
        process.time = 1.min
        process.time = { 5.min * task.attempt }  // Or: '5 min'
        process.cpus = { 2 * task.attempt }
        process.memory = { 4.GB * task.cpus }  // Or: '8 GB' , 5.MB
        process.resourceLimits = [ time: 168.h ]
    }
}
